
body {
    background-color: #000000;
}


div.TagBack {
    width: 100%;
    height: auto;
}

.InfoGraphic {
  width: 100%;
  height: auto;
}


.ContentBlock {
    float: left;
    padding: 2%;
    margin-bottom: 5%;
}


.SideGraphic {
  max-width: 40%;
  float: right;
  height: auto;
}


.ContrastBlock {
    background-color: #27a102;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}


div.Header {
    height: 5em;
    width: 100%;
    background-color: #1c6000;
}

div.Page {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    max-width: 900px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

span.LogoText {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-left: 1em;
}


h4 {
    font-family: 'Noto Sans', 'Arial Narrow', Arial, sans-serif;
    color: #1fea00;
    font-size: 0.9em;
}


h3 {
    font-family: 'Noto Sans', 'Arial Narrow', Arial, sans-serif;
    color: #1fea00;
    font-size: 1em;
}


h2 {
    font-family: 'Noto Sans', 'Arial Narrow', Arial, sans-serif;
    color: #1fea00;
    text-align: center;
    font-size: 1.3em;
}


h1 {
    font-family: 'Noto Sans', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    text-align: center;
    font-size: 5vw;
}


.galleryWrapper {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


div.FlexContainer {
    display: flex;
}


div.ScreenshotLineup {
    padding: 4em;
}


@keyframes TaglineAnimation {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
  
div.Tagline {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: TaglineAnimation;
    animation-duration: 1s;
    top:8vw;
    left: 28%;
    display: block;
    position: absolute;
    text-align: center;
    font-size: 4vw;
    color: #ffffff;
    background-color:rgba(0,0,0,0.3);
}
